.sneakers{
    width: 400px;
   border-radius: 12px;
   margin: 2em;

}
h5{
    padding-top: 1em;
}
.sneaK_container{
    color: orangered;
}
.container_div{
    display: flex;
    justify-content: space-evenly;
}
.paragraphh{
    padding-top: 7em;
}
.paragraph{
    padding-top: 33px;
    margin-left: 3em;
}